<div class="top_menu">


	<% @reddits.each do |reddit| %>

	<div class="reddit_container">
		<a href="<%= reddit.id %>"><h2><%= reddit.title %><%= reddit.created_at %></h2></a>
		<%= reddit.author %><br/><%= reddit.url %> <br/><%= reddit.body %><br/><%= reddit.up_votes %><br/><%= reddit.down_votes %><br/>s
	</div>


<div class="voting_button">
<form action="newest/<%= reddit.id %>/up_votes" method="post">
<input type="image" src="./up-grey.png" name="upvoted" value="upvote" />
</form>

<form action="newest/<%= reddit.id %>/down_votes" method="post">
<input type="image" src="./down-grey.png" name="downvoted" value="downvote" />
</form>
</div>


	<% end %>

