<div class= "reddit_box">

<h2><%= @reddit.title %></h2>

<div class= "display_reddit">
	Author: <%= @reddit.author %>
</div>

<div class= "display_reddit">
	Title: <%= @reddit.title %>
</div>

<div class= "display_reddit">
	Body: <%= @reddit.body %>
</div>

<div class= "button">
<a href="/<%= @reddit.id %>/edit"><h2>Update Reddit</h2></a>
</div>
</div>